<!doctype html>
<html>
  <head>
    <title>{% block title %} 환영합니다. {% endblock%} | twitter 프로젝트 </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class = "container">
        <h1> Twiter 만들기 연습 </h1>
        <div class = "navigation">
        {% if g.user %}
            <a href = "{{ url_for('twit_list')}}" > 나의 트윗</a>&nbsp;&nbsp; | &nbsp;&nbsp; 
            <a href = "{{ url_for('public_twit') }}" > 전체 트윗</a>&nbsp;&nbsp; | &nbsp;&nbsp; 
            <a href ="{{ url_for('logout') }}">로그아웃 [{{ g.user.username }}]</a>
        {% else %}
            <a href = "{{ url_for('public_twit') }}"> 전체 트윗 </a> &nbsp;&nbsp; | &nbsp;&nbsp; 
            <a href ="{{ url_for('register') }}"> 사용자 등록 </a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href = "{{ url_for('login') }}"> 로그인</a>
        {% endif%}
        </div>    
        {% with flashes = get_flashed_messages() %}
            {% if flashes %}
                <ul class = flashes>
                    {% for message in flashes%}
                    <li>{{ message }}</li>
                    {% endfor%}
                </ul>
            {% endif %}
        {% endwith %}
    
        <div class = "body">
            {% block body %}{% endblock%}
        </div>
        <div class = "footer">
            트위터 프로젝트 &mdash; 플라스크를 이용한 웹 어플리케이션
        </div>
    </div>
  </body>  
</html>
