<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="JS/common01.js"></script>
</head>

<body>
    <h1>Hello World!</h1>
    <br>
    <h1>I'm going to study Html</h1>
    <br>
    <p>HTML 기본 태그로 글 작성해보기</p>
    <img src="./Images/20211005111400-000001-4.png">
    <!-- <a href="https://google.com">Google Link</a> -->
    <ol>
        <li>항목1</li>
        <li>항목2</li>
    </ol>

    <a href="https://naver.com"><img src="./Images/naver.png"></a>

    <hr>
    <h3>2강 과제</h3>
    <p>과제 <a href="https://naver.com">이동하기</a></p>
    <button>버튼</button>
    <ul>
        <li>리스트</li>
        <li>리스트</li>
    </ul>
    <ol>
        <li>리스트</li>
        <li>리스트</li>
    </ol>
</body>
<script>
    var ii = '손흥민';
    var jj = `안녕하세요 ${ii} 입니다.`;

    console.log(jj);

    let gg = (i, j) => {
        console.log(i[1], j);
    }

    gg`안녕하세요.${ii}입니다`;


    var 해체분석기 = (글자들, 변수1, 변수2) => {
        console.log(글자들);
        if (변수1 === '손흥민') {
            console.log('사항합니다. 손흥민');
        }
    }

    해체분석기`나는 모든 사람을 ${ii} 좋아하고 ${jj} 사랑 합니니다.`

</script>

</html>