<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <script scr="/"></script>
    <link ref="stylesheet" type='text/css' href="/">
    <title>Flask Template Example</title>
    <style>
        .container {
            max-width: 500px;
            padding-top: 100px;
            border: solid 1px blue;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>My String : {{arrL[4]}}</h1>
        <p>List Cnt : 4</p>
        <p>List Value</p>
        <ul>
            {% for n in arrL %}
            <li>{{n}}</li>
            {% endfor %}
        </ul>

    </div>
</body>

</html>