div {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-background {
    width: 100%;
    height: 800px;
    background-image: url(../Images/Kimprofile.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    /* border-color: rgb(146, 28, 101);
    border: 2px; */
    /* display: left; */
    /* padding: 0.5px; */
    /* filter: brightness(70%); */
    /* background-attachment: fixed; */
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 300px;
}

.main2-background {
    margin-top: 1px;
    padding: 5px;
    color: blueviolet;
    font-size: 120%;
    border: 3px solid black;
    background-color: antiquewhite;
    /* border-color: black; */
}

.main-button {
    padding : 5px;
    font-size: 30px;
    background-color:aquamarine ;
    border: none;
    border-radius: 8px;
    position: absolute;
    /* padding-top: 200px; */
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
    bottom: 30px;
    left: 40%;
    /* margin: auto; */
    width: 200px;

}

.main-box {
    border: 1px;
    background-color: rgb(18, 218, 124);
    text-align: center;
    margin: auto;
    position: relative;
    width: 400px;
    top: -100px;
    /* bottom: 1px; */
    /* left:0;
    right: 0;
    margin: auto;
    bottom: unset; */
}

